.LXqMce {
  justify-content: center;
  margin-left: unset !important;
  margin-right: unset !important;
}

#lxhdr {
  display: flex;
  justify-content: center;
  margin-left: unset !important;

#lx_ctls {
    order: 2;
  }
}
