#rcnt {
  display: flex;
  justify-content: center;
  min-width: 1146px;

  .D6j0vc {
    width: unset !important;
    order: 2;

    #center_col {
      width: 672px !important;
      margin-left: 0 !important;

      // Mathematical formulas, etc.
      .OeVqAd {
        margin-left: 700px;
      }
    }
  }
}
