#main {
  display: flex;
  justify-content: center;
  align-items: center;

  #rcnt {
    display: flex;
    justify-content: center;
    min-width: 1146px;
    //min-height: unset !important;

    #center_col {
      width: 672px !important;
      margin-left: 0 !important;
      order: 2;

      // Mathematical formulas, etc.
      .OeVqAd {
        margin-left: 700px;
      }
    }
  }
}

