#top_nav {
  min-width: unset;

  #hdtb-msb {
    justify-content: center !important;
    width: 100%;

    .MUFPAc {
      margin-left: 0 !important;
    }
  }

  // Tool
  #hdtbMenus {
    text-align: center;

    .LkcePc {
      width: unset !important;
    }
  }
}
